example/01_Data_Generation/Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans180_centerConc0.50_NoiseOn_Nc10000_tomo_Abs0_PhaseScl1.00_ZCB_9_3D_scan5065/sim_ZCB_9_3D_S5065_N180_steps4_dp256.h5
example/01_Data_Generation/Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans1_centerConc0.50_NoiseOn_Nc10000_hkl111_Abs0_PhaseScl1.00_ZCB_9_3D_scan5065/sim_ZCB_9_3D_S5065_N1_steps4_dp256.h5
example/01_Data_Generation/Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans60_centerConc0.50_NoiseOn_Nc10000_Abs0_PhaseScl1.00_ZCB_9_3D_scan5065/sim_ZCB_9_3D_S5065_N60_steps4_dp256.h5
example/02_Preprocess/preprocessed_sim_Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans60_centerConc0_sim_ZCB_9_3D_S5065_N60_steps4_dp256.npz
example/05_Postprocessing/combined_diffraction_patterns_best_model_Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans60_centerConc0_sim_ZCB_9_3D_S5065_N60_steps4_dp256_Unet_epoch_10_pearson_loss_sim.h5
example/05_Postprocessing/combined_diffraction_patterns_ZCB_9_3D_best_model_Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans60_centerConc0_sim_ZCB_9_3D_S5065_N60_steps4_dp256_Unet_epoch_10_pearson_loss.h5
example/05_Postprocessing/combined_diffraction_patterns_ZCB_9_3D_best_model_Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans60_centerConc0_sim_ZCB_9_3D_S5065_N60_steps4_dp256_Unet_epoch_10_pearson_loss_deconvolved_patterns_from_sim.h5
data/lattices/clathrate_II_simulated_400x400x400_48x48x48unitcells.tif
data/tomograms/tomogram_alignment_recon_56nm.tiff
data/tomograms/180_projections_tomogram_alignment_recon_28nm.tiff
data/results/ZCB_9_3D_combined_diffraction_patterns.h5
example/06_Tomographic_Analysis/data/analysis_complete.h5
data/results/ZCB_9_3D_sample_indices_variance_threshold.h5
example/04_Inference_Experimental/ZCB_9_3D_5065_sample_indices_variance_threshold.h5
example/06_Tomographic_Analysis/plots/fft_analysis/fft_3d.html 
results/RSM/best_model_LatticeSC_Probe256x256_ZCB_9_3D__Noise_sim_ZCB_9_3D_S5065_N600_steps4_dp256_Unet_epoch_25_pearson_loss_symmetry_0.0/combined_diffraction_patterns.h5
example/01_Data_Generation/Lattice400_Typeclathrate_II_DP256_Sim256_Grid1024_nsteps4_nscans180_centerConc0.75_NoiseOn_Nc10000_tomo_Abs0_PhaseScl1.00_ZCB_9_3D_scan5065/sim_ZCB_9_3D_S5065_N180_steps4_dp256.h5
*.npz
*.h5
*.tif
*.tiff